/*General Design */
*{
  margin: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;;
}
*::-webkit-scrollbar{
  display: none;
}

/* nav style */
#btn-nav{
  font-size: 22px;
  color: white;
  text-decoration: none;
}
#btn-nav::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: aliceblue;
  color: #000;
  transition: width .4s;
}

#btn-nav:hover::after {
  color: #000;
  width: 100%;
}
#btn-close{
  fill: red;
  stroke: white;
}
/* #btn-nav:hover{
  color: darkred;
} */

/* search style */
input[type=search] {
  color: white;
    width: 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */  
input[type=search]:focus{
    width: 100% !important;
    border-bottom: 2px solid rgb(247, 247, 247) !important;
    background-color: rgba(0, 0, 0, 0.205) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 50px;
}
input[type=search]::placeholder{
  color: #e2e2e2;
}
input[type=search]:hover {
    width: 100% !important;
    cursor: text;
    border-bottom: 2px solid rgb(248, 248, 248) !important;
    background-color: rgba(0, 0, 0, 0.205) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 50px;
}
input[type=search]:hover::selection {
  background-color: #3b3b3b;
  color: white;
}
input[type=search]:focus::selection {
  background-color: #3b3b3b;
  color: white;
}
input[type=search]:active::selection {
  background-color: #3b3b3b;
  color: white;
}
input[type=search]::selection {
  background-color: #3b3b3b;
  color: white;
} 

input[type=search]:active {
  border: 2px solid;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color:rgb(248, 248, 248) !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.205);
  color: black;
}

/* position text backgorund */
.background {
  position: relative;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.center-left {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#title1{
  font-family: khmer;
}
#bg-card{
  background-color: whitesmoke;
}
#theme-toggle:active{
  box-shadow: none;
  border: none;
}
#theme-toggle:focus{
  box-shadow: none;
  border: none;
}
#theme-toggle:hover{
  box-shadow: none;
  border: none;
}
.btn{
  border: none !important;
}
.btn:active{
  border: none !important;
}
.btn:focus{
  border: none !important;
}

/* Navbar Scroll hide and show */
#navscroll{
  height: 80px;
  padding: 5px 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0.096)), url('./images/banner.jpg'); 
}
.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

footer{
  background-image: linear-gradient(rgba(3, 3, 3, 0.24), rgba(0, 0, 0, 0.226)),url('./images/footer-bg.jpg');
}
/*The End General Design */



/* dark Mode */
.dark{
  background-color: #000000;
  color: aliceblue;
}
.dark #btn-nav{
  color: darkgreen;
}
.dark #btn-nav:hover {
  color: green;
}
.dark #btn-nav::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: darkgreen;
  color: darkgreen;
  transition: width .4s;
}
.dark #btn-nav:hover::after {
  color: darkgreen;
  width: 100%;
}
.dark #btn-nav:hover{
  color: green;
}
.dark #navscroll{
  background-color: #000000 !important;
  color: aqua;
}
.dark #dark-svg{
  fill: black;
  stroke: white;
}
.dark #search{
  fill: darkgreen;
}
.dark input[type=search]{
  width: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.dark input[type=search]::placeholder{
  color: white !important;
}
.dark input[type=search]:hover{
  width: 100% !important;
  border: 1px solid green !important;
  border-color: green !important;
  color: white !important;
}
.dark input[type=search]:active{
  border: 1px solid green !important;
  color: white !important;
  width: 100% !important;
}
.dark input[type=search]:focus{
  width: 100% !important;
  border: 1px solid green !important;
  color: white !important;
}
/* dark Mode */




@font-face {
  font-family: NidaAngkor;
  src: url('fonts/NiDA\ Angkor\ Regular.ttf');
}
@font-face {
  font-family: NidaOdorMeanChey;
  src: url('fonts/OdorMeanChey.ttf');
}
@font-face {
  font-family: KST;
  src: url('fonts/KST\ CKS\ Moul.ttf');
}
@font-face {
  font-family: khmer;
  src: url('fonts/Content-Regular.ttf');
}
@font-face {
  font-family: angkor;
  src: url('fonts/Angkor.ttf');
}